<button {{#link-to 'upcoming-votes'}}>View Upcoming Votes</button>

<ul>
  {{#each model as |bill|}}
    <li>{{#link-to 'bill-detail' bill.bill_id}}{{bill.official_title}}, Introduced on: {{bill.introduced_on}}{{/link-to}}</li><br>
  {{/each}}
</ul>
